body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#background {
    width: 100vw;
    height: 100vh;
    background : #D3E9C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-window {
    width: 400px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(71, 142, 35, 0.41);
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px;
}


#landing-window {
    width: 420px;
}

#filter-window {
    justify-content: space-around;
}

#cars-window {
    justify-content: center;
}

#cart-window {
    justify-content: center;
}

#button-section {
    min-height: 100px;
    max-height: 100px;
}

.section {
    width: 90%;
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.continue-btn {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #8CC96D 0%, #478E23 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    color: black;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
    z-index: 3;
}

.continue-btn:hover {
    cursor: pointer;
    border: 1px solid white;
}
       
.continue-btn:active {
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5);
}

.time-buttons {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.time-btn {
    width: 80px;
    height: 40px;
    background: #4D8C2D;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    color: #ebebeb;
}

.time-btn:hover {
    cursor: pointer;
    border: 1px solid white;
}
       
.time-btn:active {
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5);
}

.btn-pressed {
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5); 
}

.btn-pressed:hover {
    border: 1px solid #C4C4C4;
    cursor: default;
}

#departure-section {
    margin-bottom: 200px;
}

#date-time-picker {
    width: 90%;
    height: 50%;
    background: #4D8C2D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

#time-select {
    display: flex;
    align-items: center;
    color: #ebebeb;
}

#map {
    width: 400px;
    height: 170px;
    position: absolute;
    bottom: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mapboxgl-ctrl-geocoder {
    max-width: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.geocoder {
    max-width: 300px;
    height: 50px;
    margin: 10px;
}

.hide {
    visibility:hidden
}

#my-position {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#my-position:hover {
    cursor: pointer; 
}

#my-pos-icon {
    transition: transform .2s; 
    width: 50px;
}

#my-pos-icon:hover {
    transform: scale(1.05);
}

#invis-my-position {
    min-width: 50px;
    height: 50px;
    border-radius: 50px;
}

#search {
    align-items: flex-start;
}

#searchfield-myPos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Inactive style for the date, hour and min pickers */
.greyOut {
    background: #728a66 !important;
}
/* When the 'inactive'/ 'greyOut class is on the div, the pickers will not have the default cursor  */
.greyOut #dates, .greyOut #hours, .greyOut #mins {
    cursor: default;
}

#dates {
    width: 100px;
    height: 30px;
    text-align: center;
    color: #ebebeb;
    background: #00000000;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    cursor: pointer;
}

#hours, #mins {
    width: 50px;
    height: 30px;
    text-align: center;
    color: #ebebeb;
    background: #00000000;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    cursor: pointer;
    margin: 5px;
}

.date-options, .hour-options, .min-options{
    background-color: #4D8C2D;
    cursor: pointer;
}

#hours::-webkit-scrollbar, #mins::-webkit-scrollbar {
    width: 10px;
    background-color: #4D8C2D;
}

#hours::-webkit-scrollbar-thumb, #mins::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#tillval-general-info {
    width: 90%;
    text-align: center;
    background: #DCEAD0;
    border: 1px solid rgba(71, 142, 35, 0.41);
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px;
    margin: 20px 0px 20px 0px;
}

#tillval-general-info p {
    margin: 20px;
}

#tillval-window {
    max-width: 90%;
    max-height: 90%;
    background: #DCEAD0;
    border: 1px solid rgba(71, 142, 35, 0.41);
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
    padding-top: 30px;
}

#tillval-window::-webkit-scrollbar {
    width: 0px;
}

.tillval-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(71, 142, 35, 0.41);
}

.tillval-container:hover {
    cursor: pointer;
}

.tillval-container:hover .checkbox{
    background: #bdc9b3;
    border: 3.5px solid slategrey;
}

.tillval-icon-div {
    width: 15%;
    padding-left: 10px;
}

.tillval-icon {
    width: 100%;
}

.tillval-info {
    width: 70%;
    text-align: start;
    padding-left: 10px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tillval-info h3, p {
    margin: 0px;
}

.tillval-choosing {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    width: 15px;
    height: 15px;
    border: 3px solid slategrey;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    margin-right: 5px;
}

.checked {
    background: #8CC96D !important;
}


#carMap {
    width: 100%;
    height: 270px;
    background: darkgrey;
    border-radius: 30px 30px 0px 0px;
    border: inherit;
}

#filtered-cars {
    width: 100%;
    height: 300px;
    background: #DCEAD0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
    margin-bottom: 100px;
}

#car-list {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#car-list::-webkit-scrollbar {
    width: 10px;
}

#car-list::-webkit-scrollbar-track {
    background: #65ad41;
}

#car-list::-webkit-scrollbar-thumb {
    width: 10px;
    background: #355a22;
}

.car-list-item {
    max-width: 100%;
    min-height: 90px;
    background: #6cbd44;
    display: flex;
    text-align: start;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid black;
}

.car-list-item:hover {
    background: #477c2c;
    cursor: pointer;
}

.clicked-car {
    background: #477c2c;
}

.car-list-item h2 {
    margin: 0;
}

.car-list-item-img{
    width: 90%;
}

.car-list-item-img-div {
    width: 20%;
    display: flex;
    align-items: center;
}

.car-list-item-text {
    width: 60%;
}

.car-list-item-price {
    width: 20%;
    display: flex;
    align-items: center;
}

.greyOut-btn {
    background: linear-gradient(180deg, #AAAAAA 0%, #727272 100%);
    box-shadow: none;
    color: rgb(56, 56, 56);
}

.greyOut-btn:hover {
    cursor: default;
    border: 1px solid #C4C4C4;
}

.greyOut-btn:active {
    box-shadow: none;
}

#instructions {
    position: relative;
    right: 140px;
    padding: 6px;
    bottom: 230px;
    background-color: #DCEAD0;
    text-align: center;
    border-radius: 30px;
    margin-top: -30px;
}

#instructions h4 {
    margin: 0px;
    height: 19px;
}

.invisible {
    display: none;
}

#purchase-cart {
    width: 80%;
    height: 85%;
    text-align: center;
    background: rgba(230, 233, 228, 0.8) ;
    border: 1px solid rgba(71, 142, 35, 0.41);
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px;
    margin: 30px 0px 100px 0px;
    z-index: 3;
    font-family: 'Roboto', sans-serif;
}

#purchase-cart p {
    font-size: 16px;
}

.cart-section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#chosenFilter {
    list-style: none;
    padding: 0px;
}

.chosenFilterItem {
    text-align: start;
}

#cost-calc p {
    text-align: end;
}

#discount {
    margin: 10px;
}

#reservationMap {
    width: 100%;
    height: 70%;
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px 30px 0px 0px;
}

#reservationInfo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#carArrival {
    margin-bottom: 10px;
    padding: 0px 50px 0px 50px;
}

#tripInfo {
    padding: 0px 50px 0px 50px;
    text-align: center;
}

/* Media query for keeping the same styling always for the input fields/ geocoders */
@media screen and (min-width: 640px) {
    .mapboxgl-ctrl-geocoder--input {
        height: 50px !important;
        padding: 6px 45px !important;
    }
    .mapboxgl-ctrl-geocoder {
        width: 100% !important;
        font-size: 18px !important;
        line-height: 24px !important;
        max-width: 100% !important;
    }
    .mapboxgl-ctrl-geocoder--icon-search {
        top: 13px !important;
        left: 12px !important;
        width: 23px !important;
        height: 23px !important;
    }
}

/* @media screen and (max-height: 750px) {
    .view-window {
        max-height: 650;
        overflow-y: scroll;
    }

    .mapboxgl-map-canvas {
        position: inherit !important;
    }

    .mapboxgl-map {
        overflow: visible !important;
    }
} */
