body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#background {
    width: 100vw;
    height: 100vh;
    background : #D3E9C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing-window {
    width: 420px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(71, 142, 35, 0.41);
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px;
}

.section {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.continue-btn {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #8CC96D 0%, #478E23 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    color: black;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
}

.continue-btn:hover {
    cursor: pointer;
    border: 1px solid white;
}
       
.continue-btn:active {
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5);
}

#search-window {
    width: 400px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(71, 142, 35, 0.41);
    box-shadow: 2px 4px 4px rgba(11, 63, 10, 0.22);
    border-radius: 30px;
}

.time-section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.time-btn {
    width: 80px;
    height: 40px;
    background: #4D8C2D;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    color: lightgray;
}

.time-btn:hover {
    cursor: pointer;
    border: 1px solid white;
}
       
.time-btn:active {
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5);
}

.btn-pressed {
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5); 
}

#departure-section {
    margin-bottom: 120px;
}

#time-select {
    width: 90%;
    height: 90%;
    background: #4D8C2D;
}

#map {
    width: 400px;
    height: 170px;
    position: absolute;
    bottom: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mapboxgl-ctrl-geocoder {
    max-width: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.geocoder {
    max-width: 300px;
    height: 50px;
    margin: 10px;
}

.hide {
    visibility:hidden
}

#my-position {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#my-position:hover {
    cursor: pointer; 
}

#my-pos-icon {
    transition: transform .2s; 
    width: 50px;
}

#my-pos-icon:hover {
    transform: scale(1.05);
}

#invis-my-position {
    min-width: 50px;
    height: 50px;
    border-radius: 50px;
}

#search {
    align-items: flex-start;
}

#searchfield-myPos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 640px) {
    .mapboxgl-ctrl-geocoder--input {
        height: 50px !important;
        padding: 6px 45px !important;
    }
    .mapboxgl-ctrl-geocoder {
        width: 100% !important;
        font-size: 18px !important;
        line-height: 24px !important;
        max-width: 100% !important;
    }
}
